<h3>Account</h3>


<section class="col-lg-6">
	<h4> <%= @current_user.username %> </h4>
	<%= image_tag(@current_user.avatar) %>

<% if @current_user == @user %>
<%= render :partial => "form" %>
<% end %>
</section>

<% if @history.present? %>
	<section id="history" class="col-lg-6">
		<table class= "table-striped">
				<th>Date</th>
				<th>Location</th>
				<th>Weather Summary</th>
				<th>Temperature</th>	
					<tr>
						<% @history.each do |h| %>
							<td><%= h.created_at %></td>
							<td><%= h.location %></td>
							<td><%= h.weather_summary %></td>
							<td><%= h.weather_temp  %></td>
					</tr>

				<th>Artist</th>	
				<th>Title</th>
				<th>Album</th>
					<% h.tracks.each do |t| %>
						<tr>
							<td><%= t.track_artist %></td>
							<td><%= t.track_name %></td>
							<td><%= t.track_album %></td>
						</tr>
					<% end %>	
				<% end %>
			</table>
	</section>
<% end %>

<%== user_nav %>

