<section class="col-md-6">
	<h3>Account</h3>
		<h4><%= @current_user.username %></h4>
			<div class="user-avatar">
				<%= image_tag(@current_user.avatar) %>
			</div>

		<% if @current_user == @user %>
		<section class = "text-left col-md-10 col-md-offset-1">
		<%= render :partial => "form"%>
		</section>
		<% end %>
</section>
		
	

<section class="col-md-6 history-view">
<h3>History</h3>
	<% @history.each do |h| %>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= h.id %>">
							<td><%= h.created_at %></td>
						</a>
					</h4>
				</div>
				<div id="collapse<%= h.id %>" class="panel-collapse collapse">
					<% h.tracks.each do |t| %>
					<div class="panel-body">
						<ul>
							<li>Artist: <%= t.track_artist %></li>
							<li>Title: <%= t.track_name %></li>
							<li>Album: <%= t.track_album %></li>
						</ul>
					</div>
					<% end %>	
				</div>
			</div>
		<% end %>
</section>

	<section class="col-md-6">
		<%== user_nav %>
	</section>
