<!-- PLAYER PAGE -->
<section class = "col-md-6 col-md-offset-3 player">
	<% if @spotify_uri_list.present? %>
		<iframe src="https://embed.spotify.com/?uri=spotify:trackset:weatherify:<%= @spotify_uri_list.join(',') %>" frameborder="0" allowtransparency="true" width="100%"></iframe>
	<% end %>
</section>

<section class="background col-md-8 col-md-offset-2">
		
		<% @spotify_images.each do |i| %>
			<%= image_tag(i) %>
		<% end %>
	
</section>

<section class="col-md-12 player-weather">

	<p class="lead"><%= @geo_location %> | <%= @weather_summary %> | <%= @weather_temp %>˚F </p>

</section>

	
	