<!DOCTYPE html>
<html>
<head>
  <title>WeatherifyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="container">

		<div class="text-center jumbotron">
		<h1 class="title">
			<%= link_to("Weatherify", @current_user.present? ? location_search_path : login_path) %>
		</h1>
		</div>

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class = "container-fluid">
			  		<ul class="nav navbar-nav">
			  			<%== smartnav %>
			  		</ul>
			  	</div>
			</nav>

			<%= yield %>
			
		</div>
		<footer>
			<p><small class="text-center">a #WDI5 project.<small></p>
		</footer>	
	</body>
</html>
