<!DOCTYPE html>
<html>
<head>
  <title>WeatherifyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to("Weatherify", location_search_path) %>

<nav>
  <%== smartnav %>
</nav>

<%= yield %>

</body>
</html>
