<!--
  __      __  ____    ______      ____                                  __        ____                
/\ \  __/\ \/\  _`\ /\__  _\    /\  _`\              __               /\ \__    /\  _`\              
\ \ \/\ \ \ \ \ \/\ \/_/\ \/    \ \ \L\ \_ __   ___ /\_\     __    ___\ \ ,_\   \ \ \L\ \  __  __    
 \ \ \ \ \ \ \ \ \ \ \ \ \ \     \ \ ,__/\`'__\/ __`\/\ \  /'__`\ /'___\ \ \/    \ \  _ <'/\ \/\ \   
  \ \ \_/ \_\ \ \ \_\ \ \_\ \__   \ \ \/\ \ \//\ \L\ \ \ \/\  __//\ \__/\ \ \_    \ \ \L\ \ \ \_\ \  
   \ `\___x___/\ \____/ /\_____\   \ \_\ \ \_\\ \____/\ \ \ \____\ \____\\ \__\    \ \____/\/`____ \ 
    '\/__//__/  \/___/  \/_____/    \/_/  \/_/ \/___/\ \_\ \/____/\/____/ \/__/     \/___/  `/___/> \
                                                    \ \____/                                   /\___/
        ____    ______  __      __              ____ \/_____    ______  ____    __      ____   \/__/ 
   __  /\  _`\ /\__  _\/\ \    /\ \            /\  _`\ /\  _`\ /\  _  \/\  _`\ /\ \    /\  _`\       
  /'_`\\ \ \L\ \/_/\ \/\ \ \   \ \ \           \ \,\L\_\ \ \L\_\ \ \L\ \ \ \L\ \ \ \   \ \ \L\_\     
 /'/'_` \ \  _ <' \ \ \ \ \ \  _\ \ \  __       \/_\__ \\ \  _\L\ \  __ \ \ ,  /\ \ \  _\ \  _\L     
/\ \ \L\ \ \ \L\ \ \_\ \_\ \ \L\ \ \ \L\ \        /\ \L\ \ \ \L\ \ \ \/\ \ \ \\ \\ \ \L\ \ \ \L\ \   
\ \ `\__,_\ \____/ /\_____\ \____/\ \____/        \ `\____\ \____/\ \_\ \_\ \_\ \_\ \____/\ \____/   
 \ `\_____\\/___/  \/_____/\/___/  \/___/   _______\/_____/\/___/  \/_/\/_/\/_/\/ /\/___/  \/___/    
  `\/_____/                                /\______\                                                 
                                           \/______/    
@bill_searle
-->
<!DOCTYPE html>
<html>
<head>
  <title>WeatherifyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="container">

		<div class="text-center jumbotron">
		<h1 class="title">
			<%= link_to("Weatherify", @current_user.present? ? location_search_path : login_path) %>
		</h1>
		</div>

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class = "container-fluid">
			  		<ul class="nav navbar-nav">
			  			<%== smartnav %>
			  		</ul>
			  	</div>
			</nav>

			<%= yield %>
			
		</div>
		<footer>
			<p><small class="text-center">a #WDI5 project by @bill_searle.<small></p>
		</footer>	
	</body>
</html>
