<!DOCTYPE html>
<html>
<head>
  <title>WeatherifyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<h1 class ="jumbotron"><%= link_to("Weatherify", location_search_path) %></h1>

	<nav class="nav nav-pills" role="tablist">
	  <%== smartnav %>
	</nav>

	<div class="col-lg-12">
	<%= yield %>
	</div>

</div>

</body>
</html>
